
.reveal pre code {
  font-size: 1.3em;
  line-height: 1.2;
}

.reveal pre {
  width: 120%;
  margin-left: -10%;
}

/* layout */

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1;
  font-weight: inherit; }
.reveal .slides section>* {
    margin-left: 0;
    margin-right: 0;
}
.reveal .slides section .column1 {
  float: left;
  width: 49%;
}
.reveal .slides section .column2 {
  float: right;
  width: 49%;
}

/* image */

.reveal section img {
  border: 0;
  box-shadow: none;
  margin: 1px;
}


/* text */
.reveal sup {
  font-size: 0.6em;
  vertical-align: sup;
}
.reveal sub {
  font-size: 0.6em;
  vertical-align: sub;
}
.reveal micro {
  font-size: 0.6em;
  vertical-align: bottom;
}
.reveal small {
  font-size: 0.75em;
}