/* layout */

.reveal .slides {
  line-height: 1.2; /* reduce distance between lines*/
  height: 100% !important;
  top: 0 !important;
  margin-top: 0 !important;
  width: 90% !important;
  left: 0 !important;
  margin-left: 5% !important;
  font-weight: inherit;
}
.reveal .slides>section {
  min-height: 90% !important;
  top: auto
  min-width: 90% !important;
  left: auto
}
.reveal .slides>section>section {
  min-height: 100% !important;
  top: auto
  min-width: 90% !important;
  left: auto
}


/* grids*/

.reveal .slides section .column1 {
  float: left;
  width: 49%;
}
.reveal .slides section .column2 {
  float: right;
  width: 49%;
}


/* image */

.reveal section img {
  border: 0;
  box-shadow: none;
  margin: 1px;
}


/* text */
.reveal sup {
  font-size: 0.6em;
  vertical-align: sup;
}
.reveal sub {
  font-size: 0.6em;
  vertical-align: sub;
}
.reveal micro {
  font-size: 0.6em;
  vertical-align: bottom;
}
.reveal small {
  font-size: 0.75em;
}